{% extends "registration/accountcenter.html" %}
{% block head %}
    {{ block.super }}
    <link href="/static/css/favorites.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css"
          rel="stylesheet">
{% endblock %}
{% block account_info %}

    <div class="row justify-content-center" id="cards">
        <div class="col-10">
            <form class="form-inline pt-5" id="search-form" action="/accounts/favorites" method="get">{% csrf_token %}
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="keyword" {% if kw %}value="{{ kw }}" {% endif %}>
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <input class="form-control" type="hidden" id="d" name="date-added" value="">
                <div class="btn-group ml-auto" role="group">
                    <button id="addDateSort" type="button" class="btn btn-outline-dark dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Date added
                    </button>
                    <div class="dropdown-menu" aria-labelledby="addDateSort">
                        <a class="dropdown-item" onclick="changevalue(0)">Newest first</a>
                        <a class="dropdown-item" onclick="changevalue(1)">Oldest first</a>
                    </div>
                </div>
            </form>
            <div id="card-group">
                {% for item in favs %}
                    <div class="card my-5  d-flex justify-content-between flex-column" id="{{ item.slug }}-card">
                        <div class="card-header">
                            <h4 class="card-title text-center">{{ item.detail.title }}</h4>
                        </div>
                        <div class="row card-body">
                            <div class="col-sm-4 ">
                                {% if item.detail.digital_object.thumbnail_url %}
                                    <div class="card-img-container">
                                        <img class="card-img " src="{{ item.detail.digital_object.thumbnail_url }}"
                                             alt="Card image cap">
                                        <p class="card-title card-title-overlay">{{ item.detail.title }}</p>
                                    </div>
                                {% else %}
                                    <div class="card-img-container">
                                        <img class="card-img " src="/static/image/placeholder.jpg" alt="Card image cap">
                                        <p class="card-title card-title-overlay">No Image</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-8 d-flex justify-content-between flex-column">
                                <div class="container text-sm-right pt-3 pt-sm-0">
                                    <a onclick="fadeFavorite(this.id)" id="{{ item.slug }}">{% csrf_token %}
                                        <i class="fa fa-star fa-lg fav"></i>
                                    </a>
                                </div>
                                <div class="container">
                                    <p><i class="fa fa-user pr-2"></i>Creators</p>
                                    {% for person in item.detail.creators %}
                                        <small>{{ person.authotized_form_of_name }} ({{ person.dates_of_existence }})
                                        </small>
                                    {% endfor %}

                                    <p class="pt-3"><i class="fa fa-calendar pr-2"></i>Creation dates</p>
                                    {% if item.detail.creation_dates %}
                                        {% for date in item.detail.creation_dates %}
                                            <small>{{ date }}</small>
                                        {% endfor %}
                                    {% else %}
                                        <small>No Date</small>
                                    {% endif %}
                                </div>
                                <div class="container"></div>

                            </div>
                        </div>
                        <div class="card-footer text-muted caption text-center">
                            {% if item.detail.reference_code %}
                                {{ item.detail.reference_code }}
                            {% else %}
                                No reference code avaliable
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <script src="/static/js/profile.js"></script>
    <script src="/static/js/favorite.js"></script>
    <script src="/static/js/userfav.js"></script>
    <script>
        var host = '{{ host }}';
    </script>
{% endblock %}