{% extends "base.html" %}
{% block head %}
    <link href="/static/css/login.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container h-100 d-flex flex-column justify-content-center" id="bg">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-5">
                {% if validlink %}
                    <form class="form-horizontal" method="post" action="">{% csrf_token %}
                        <h3 class="text-center"><i class="fa fa-key"></i> Reset Password</h3>
                        <p>Please enter your new password twice.<br/>
                            So we can verify you typed it in correctly.</p>
                        {% for field in form %}
                            <div class="form-group">
                                <label for="name" class="col-form-label"><p class="mb-0">{{ field.label_tag }}</p>
                                </label>
                                {% for error in field.errors %}
                                    <div class="alert alert-warning py-0 my-0">
                                        <p class="field-error">
                                            <small>{{ error }}</small>
                                        </p>
                                    </div>
                                {% endfor %}
                                <div class="input-group">
                        <span class="input-group-addon">
                            {% if 'username' in field.label_tag %}
                                <i class="fa fa-user" aria-hidden="true"></i>
                            {% elif 'password' in field.label_tag %}
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            {% elif 'mail' in field.label_tag %}
                                <i class="fa fa-envelope-o fa" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                            {% endif %}
                        </span>
                                    <input type="{{ field.field.widget.input_type }}" class="form-control"
                                           name="{{ field.html_name }}" id="{{ field.id_for_label }}"
                                           placeholder="Enter your password"/>
                                </div>
                                <div>
                                    <small class="text-muted">{{ field.help_text|safe }}</small>
                                </div>

                            </div>
                        {% endfor %}

                        <div class="form-group ">
                            <input type="submit" class="btn btn-outline-dark btn-lg btn-block"
                                   value="Change my password">
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                        <div class="login-register">
                        </div>
                    </form>
                {% else %}
                    <div class="form-horizontal">
                        <h4 class="text-center"><i class="fa fa-key"></i> Password reset unsuccessful</h4>
                        <p class="py-3">The password reset link was invalid,
                            possibly because it has already been used.
                            Please request a new password reset.</p>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function main_size() {
            var h = document.getElementsByTagName('HEADER')[0];
            var f = document.getElementsByTagName('FOOTER')[0];
            var b = document.getElementsByTagName('BODY')[0];
            var m = document.getElementsByTagName('MAIN')[0];
            m.style.height = (b.clientHeight - h.clientHeight - f.clientHeight) + "px";
        }

        $(document).ready(function () {
            main_size();
        });

        $(window).resize(function () {
            main_size();
        });


    </script>
{% endblock %}