{% extends "base.html" %}
{% block head %}
    <link href="/static/css/login.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container h-100 d-flex flex-column justify-content-center" id="bg">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4">
                <div class="form-horizontal">
                    <h3 class="text-center"><i class="fa fa-key"></i> Password reset successful</h3>
                    <div class="py-3">
                        <p>We've e-mailed you instructions for setting your password to the e-mail address you
                        submitted.</p>
                        <p>You should be receiving it shortly.</p>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        function main_size() {
            var h = document.getElementsByTagName('HEADER')[0];
            var f = document.getElementsByTagName('FOOTER')[0];
            var b = document.getElementsByTagName('BODY')[0];
            var m = document.getElementsByTagName('MAIN')[0];
            m.style.height = (b.clientHeight - h.clientHeight - f.clientHeight) + "px";
        }

        $(document).ready(function () {
            main_size();
        });

        $(window).resize(function () {
            main_size();
        });


    </script>
{% endblock %}