/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


body {
  color: #5a5a5a;
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  font-size: 0.6em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

.navbar{
  padding-bottom: 0;
    height: 10%;
}

.navbar-collapse{
  padding-left: 1.5rem;
}

.navbar .navbar-collapse .nav-item> a {
    margin-left: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.navbar .navbar-collapse .active > a {
    border-bottom: 4px solid #000000;
}


.btn{
    font-size: 0.6rem;
}

input{
    font-size: 0.6rem !important;
}

@media screen and (min-width: 680px) {
  body {
    font-size: 1.0em;
  }
    .btn{
    font-size: 1.0rem;
    }

    input{
        font-size: 1.0rem !important;
    }

}

@media screen and (min-width: 1224px) {
  body {
    font-size: 1.2em; }
    .btn{

}
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 1.4em; }

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5%;
  z-index: 10;
}

/* Declare heights because of positioning of img element */



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

#marketing{
    margin-top: 6rem;
}
.marketing h2 {
  margin-top: 1rem;
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.headline .col-sm-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline .col-sm-7{
    padding-left: 0;
    padding-right: 0;
}

.headline .container-fluid{
    padding-left: 0;
}

.headline .col-sm-7 img{
    height: 100%;
    width: 100%;

}

.headline h2 {
    text-align: center;
    margin-top: 1rem;
}

.headline p {
    text-align: center;
    margin-bottom: 1rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Google map*/
.embed-responsive{
  max-height: 90vh;
}

/* Style the video: 100% width and height to cover the entire window */
#background_video {
    position: static;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

/* Add some content at the bottom of the video/page */
#video_header{
    position: absolute;
    bottom: 2rem;
    left: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#video_control {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#video_control:hover {
    background: #ddd;
    color: black;
}

#btn_mute{
    vertical-align: middle;
    color: white;
    -webkit-transform: scale(0.8);
     /* Browser Variations: */
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
}

#btn_mute:hover{
     color: #ff8734;
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
}

#bgv{
    z-index: 100;
    margin-bottom: -0.4rem;
    max-height: 58rem;
    overflow: hidden;
    position: relative;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     margin-left: 0.5rem;
     color: #000000;
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }


/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-sc:hover {
     color: #fd7e14;
 }
 #social-em:hover {
     color: #f39c12;
 }

 #social-is:hover {
     color: #ff4270;
 }

footer{
    padding-bottom: 2rem;
  color: #999;
  text-align: left;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
    margin-left: 0;
    font-size: 1rem;

}

footer > p{
  margin-bottom: 0;
}

footer .featurette-divider{
  margin: 0.5rem 0.5rem;
}


.popover {
   background-color: rgba(255,255,255,.8);
}
