.detail-heading{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.back-fill{
    background-color: #f9f9f9;
}

.sidebar{
    padding: 1rem;
}

audio{
    width: 100%;
}

@media screen and (min-width: 680px) {

}

@media screen and (min-width: 1224px) {

}
@media screen and (min-width: 1400px) {

}

.bubbleChart {
  max-width: 100%;
  height: auto;
    z-index: -1;
}
.bubbleChart svg{
  background: #ffffff;
}

.container-fluid{
    padding-left: 4rem;
    padding-right: 4rem;
}