{% extends "base.html" %}
{% block head %}
    <link href="/static/css/album.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-fluid" id="card-container">
        <div class="container pt-5 pb-3">
            <h1 class="quote">Search Results</h1>
            <p>Folk Song Explorer</p>
        </div>
        <div class="container pb-5">
            <form class="form-inline" action="/collection/search/" name="search" method="post">{% csrf_token %}
                <div class="input-group w-100">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" {% if placeholder is not None %}value="{{ placeholder }}"{% endif %} id="keyword" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container pb-5" id="cards">
            <div id="card-group">
                {% for item in results %}
                    <div class="card my-5  d-flex justify-content-between flex-column">
                        <div class="card-header"><h4 class="card-title text-center">{{ item.title }}</h4></div>
                        <div class="row card-body">
                            <div class="col-sm-4 ">
                                {% if item.thumbnail_url %}
                                    <div class="card-img-container">
                                        <img class="card-img " src="{{ item.thumbnail_url }}" alt="Card image cap">
                                        <h4 class="card-title card-title-overlay">{{ item.title }}</h4>
                                    </div>
                                {% else %}
                                    <div class="card-img-container">
                                        <img class="card-img " src="/static/image/placeholder.jpg" alt="Card image cap">
                                        <h4 class="card-title card-title-overlay">No Image</h4>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-8 d-flex justify-content-center flex-column">
                                <div class="container">
                                    <dl class="row py-3 mb-0">
                                        <dt class="col-md-6 "><p><i class="fa fa-user pr-2"></i>Creators</p>
                                        </dt>
                                        <dd class="col-md-6">
                                            {% for person in item.creators %}
                                                <p>{{ person }}</p>
                                            {% endfor %}
                                        </dd>
                                        <dt class="col-md-6"><p><i class="fa fa-calendar pr-2"></i>Creation
                                            dates
                                        </p>
                                        </dt>
                                        <dd class="col-md-6">
                                            {% for date in item.creation_dates %}
                                                <p>{{ date }}</p>
                                            {% endfor %}
                                        </dd>
                                    </dl>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer text-muted caption text-center">
                            {% if item.reference_code %}
                                {{ item.reference_code }}
                            {% else %}
                                No reference code avaliable
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="container d-flex justify-content-center pt-3">
                <button type="button" class="btn btn-outline-dark pl-5 pr-5" id="load-button"><i
                        class="fa fa-refresh fa-spin fa-lg fa-fw" id="loadingDiv"></i>Load More
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/loadingbutton.js"></script>
{% endblock %}