<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Grainger Museum">
    <meta name="author" content="Jason Zhai">
    <link rel="icon" href="/static/image/favicon32x32.png">

    <title>Grainger Folk</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% block head %}
    {% endblock %}
    

</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-light" id="navigation">
        <a class="navbar-header" href="http://grainger.unimelb.edu.au/" target="_blank"><img src="/static/image/logo.png" width="100px" height="60px"></a>
        <button class="nav navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nbar == 'home' %} active {% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if nbar == 'collection' %} active {% endif %}">
                    <a class="nav-link" href="/collection">Collection</a>
                </li>
                <li class="nav-item {% if nbar == 'map' %} active {% endif %}">
                    <a class="nav-link" href="/interativeMap">Map</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/collection/search/" method="get">{% csrf_token %}
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="login d-flex justify-content-center">
                <ul class="navbar-nav navbar-right">
                    <li>
                        <a role="button" id="login-form" class="btn" data-toggle="popover"><i
                                class="fa fa-user-o fa-2x login"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
<footer class="container-fluid">
    <div class="container" id="social">
        <br/>
        <a href="https://www.facebook.com/graingermuseum" target="_blank"><i class="fa fa-facebook fa-3x social"
                                                                             id="social-fb"></i></a>
        <a href="https://twitter.com/GraingerMuseum" target="_blank"><i class="fa fa-twitter fa-3x social"
                                                                        id="social-tw"></i></a>
        <a href="https://soundcloud.com/grainger-museum" target="_blank"><i class="fa fa-soundcloud fa-3x social"
                                                                            id="social-sc"></i></a>
        <a href="https://www.instagram.com/graingermuseum/" target="_blank"><i class="fa fa-instagram fa-3x social"
                                                                               id="social-is"></i></a>
        <a href="mailto:grainger@unimelb.edu.au"><i class="fa fa-envelope fa-3x social" id="social-em"></i></a>
    </div>
    <hr class="featurette-divider">
    <div class="container pb-2">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Grainger Museum. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>

</footer>
<div id="popover-content" hidden>
    {% if user.is_authenticated %}
        <div class="container d-flex justify-content-center flex-column py-3">
            <div class="row d-flex justify-content-center px-5">
                {% if user.userprofile.profile_photo %}
                    <img class="user" src="{{ user.userprofile.profile_photo.url }}??{% now "Hms" %}">
                {% else %}
                    <img src="/static/image/blank-profile-picture.png" class="user">
                {% endif %}


            </div>
            <div class="row d-flex justify-content-center pt-2">
                <h3 class="text-center">{{ user.first_name }}</h3>
            </div>
            <div class='row'>
                <div class='col-12'>
                    <hr class="my-1">
                </div>
            </div>
            <div class='text-left py-3 px-3 d-flex justify-content-between flex-column'>
                <a class="btn btn-outline-dark mb-3" role="button" href="/accounts/profile"><i class="fa fa-id-card-o"></i> Profile</a>


                <a class="btn btn-outline-dark" role="button" href="/accounts/favorites"><i class="fa fa-folder-o"></i> Favorites</a>
            </div>
            <div class="container-fluid text-right">
                <a href="/accounts/logout" id="login-submit">Log out<i
                        class="fa fa-sign-in"></i></a>
            </div>
        </div>
    {% else %}

        <img class="w-100" src="/static/image/login.jpg">
        <div class="d-flex justify-content-center py-3">
            <a href="/accounts/login" id="login-submit" class="btn btn-outline-dark mr-4">Log in <i
                    class="fa fa-sign-in"></i></a>
            <a href="/accounts/signup" class="btn btn-outline-dark">Sign up <i class="fa fa-user-plus"></i></a>
        </div>

    {% endif %}

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-3.2.1.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/static/js/userpopover.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>