<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Grainger Museum">
    <meta name="author" content="Jason Zhai">
    <link rel="icon" href="/static/image/favicon32x32.png">

    <title>Grainger Folk</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-light" id="navigation">
        <a class="navbar-header" href="/"><img src="/static/image/logo.png" width="100px" height="60px"></a>
        <button class="nav navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nbar == 'home' %} active {% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if nbar == 'collection' %} active {% endif %}">
                    <a class="nav-link" href="/collection">Collection</a>
                </li>
                <li class="nav-item {% if nbar == 'map' %} active {% endif %}">
                    <a class="nav-link" href="/interativeMap">Map</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    <span class="input-group-btn"><button class="btn btn-outline-dark" type="submit"><i
                            class="fa fa-search"></i></button></span>
                </div>
            </form>
            <div class="login d-flex justify-content-center">
                <ul class="navbar-nav navbar-right">
                    <li>
                        <a role="button" id="login-form" class="btn" data-toggle="popover"><i
                                class="fa fa-user-o fa-2x login"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
<footer class="container-fluid">
    <div class="container" id="social">
        <br/>
        <a href="https://www.facebook.com/graingermuseum" target="_blank"><i class="fa fa-facebook fa-3x social"
                                                                             id="social-fb"></i></a>
        <a href="https://twitter.com/GraingerMuseum" target="_blank"><i class="fa fa-twitter fa-3x social"
                                                                        id="social-tw"></i></a>
        <a href="https://soundcloud.com/grainger-museum" target="_blank"><i class="fa fa-soundcloud fa-3x social"
                                                                            id="social-sc"></i></a>
        <a href="https://www.instagram.com/graingermuseum/" target="_blank"><i class="fa fa-instagram fa-3x social"
                                                                               id="social-is"></i></a>
        <a href="mailto:grainger@unimelb.edu.au"><i class="fa fa-envelope fa-3x social" id="social-em"></i></a>
    </div>
    <hr class="featurette-divider">
    <div class="container pb-2">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Grainger Museum. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>

</footer>
<div id="popover-content" hidden>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1"><i class="fa fa-envelope-o"></i> Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"><i class="fa fa-key"></i> Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Keep me logged in
            </label>
        </div>
        <div class="form-group d-flex justify-content-center">
            <button type="submit" id="login-submit" class="btn btn-outline-dark mr-4">Submit <i
                    class="fa fa-sign-in"></i></button>
            <a href="/signup" class="btn btn-outline-dark">Sign up <i class="fa fa-user-plus"></i></a>
        </div>
    </form>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-3.2.1.js"><\/script>')</script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle=popover]').popover({
            html: true,
            title: '<h3>Log in <i class="fa fa-sign-in"></i> </h3>',
            container: "body",
            trigger: "click",
            placement: "bottom",
            content: function () {
                return $('#popover-content').html()
            },
        });

    });
</script>
{% block script %}{% endblock %}
</body>
</html>