{% extends "base.html" %}
{% block content %}
    <link href="/static/css/detail.css" rel="stylesheet">
    <div class="background">
        <div class="detail-heading">
            <div class="container-fluid" id="heading-content">
                <h1 class="detail-title">Creeping Jane</h1>
                <p class="lead detail-description">An English Folk Song Recorded by Percy Grainger.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 detail-post">
                    <h2>Audio Recording of Creeping Jane</h2>
                    <p>January 1, 2018 by <a href="#">Jason</a></p>
                    <p>
                        This blog post shows a few different types of content that's supported and styled with
                        Bootstrap. Basic typography, images, and code are all supported.
                    </p>
                    <hr>
                    <h3>Handwritten Scores</h3>
                    <div class="embed-responsive embed-responsive-1by1">
                        <object class="embed-responsive-item" data="{{ pdf }}#view=Fit&message=0"
                                type="application/pdf"></object>
                    </div>
                    <audio controls>
                        <source src="{{ content }}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>

                </div>
                <aside class="col-sm-4 detail-sidebar">
                    <div class="sidebar text-center w-100">
                        <h2>Recommendation Bubbles</h2>
                        <div class="bubbleChart"></div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
    <script>
        $(document).ready(function () {
            var bubbleChart = new d3.svg.BubbleChart({
                supportResponsive: true,
                //container: => use @default
                size: 600,
                //viewBoxSize: => use @default
                innerRadius: 600 / 3.5,
                //outerRadius: => use @default
                radiusMin: 50,
                //radiusMax: use @default
                //intersectDelta: use @default
                //intersectInc: use @default
                //circleColor: use @default
                data: {
                    items: [
                        {text: "Joseph Taylor", count: "236"},
                        {text: "Creeping Jane", count: "382"},
                        {text: "Percy Grainger", count: "170"},
                        {text: "Ella Grainger", count: "123"},
                        {text: "Costume", count: "12"},
                        {text: "English Folk Songs", count: "170"},
                        {text: "Creeping Jane Trail", count: "382"},
                        {text: "Whip", count: "10"},
                        {text: "Handwritten Score", count: "170"},
                    ],
                    eval: function (item) {
                        return item.count;
                    },
                    classed: function (item) {
                        return item.text.split(" ").join("");
                    }
                },
                plugins: [
                    {
                        name: "central-click",
                        options: {
                            text: "(See more detail)",
                            style: {
                                "font-size": "12px",
                                "font-style": "italic",
                                "font-family": "Source Sans Pro, sans-serif",
                                //"font-weight": "700",
                                "text-anchor": "middle",
                                "fill": "white"
                            },
                            attr: {dy: "65px"},
                            centralClick: function () {
                                alert("Here is more details!!");
                            }
                        }
                    },
                    {
                        name: "lines",
                        options: {
                            format: [
                                {// Line #0
                                    textField: "count",
                                    classed: {count: true},
                                    style: {
                                        "font-size": "28px",
                                        "font-family": "Source Sans Pro, sans-serif",
                                        "text-anchor": "middle",
                                        fill: "white"
                                    },
                                    attr: {
                                        dy: "0px",
                                        x: function (d) {
                                            return d.cx;
                                        },
                                        y: function (d) {
                                            return d.cy;
                                        }
                                    }
                                },
                                {// Line #1
                                    textField: "text",
                                    classed: {text: true},
                                    style: {
                                        "font-size": "14px",
                                        "font-family": "Source Sans Pro, sans-serif",
                                        "text-anchor": "middle",
                                        fill: "white"
                                    },
                                    attr: {
                                        dy: "20px",
                                        x: function (d) {
                                            return d.cx;
                                        },
                                        y: function (d) {
                                            return d.cy;
                                        }
                                    }
                                }
                            ],
                            centralFormat: [
                                {// Line #0
                                    style: {"font-size": "50px"},
                                    attr: {}
                                },
                                {// Line #1
                                    style: {"font-size": "30px"},
                                    attr: {dy: "40px"}
                                }
                            ]
                        }
                    }]
            });
        });
    </script>
{% endblock %}