{% extends "base.html" %}
{% block content %}
    <link href="/static/css/detail.css" rel="stylesheet">
    <div class="background">
        <div class="detail-heading">
            <div class="container-fluid" id="heading-content">
                <h1 class="detail-title">Creeping Jane</h1>
                <p class="lead detail-description">An English Folk Song Recorded by Percy Grainger.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 detail-post">
                    <h2>Audio Recording of Creeping Jane</h2>
                    <p>January 1, 2018 by <a href="#">Jason</a></p>
                    <p>
                        This blog post shows a few different types of content that's supported and styled with
                        Bootstrap. Basic typography, images, and code are all supported.
                    </p>
                    <hr>
                    <h3>Handwritten Scores</h3>
                    <div class="embed-responsive embed-responsive-1by1">
                        <object class="embed-responsive-item" data="{{ pdf }}#view=Fit&message=0"
                                type="application/pdf"></object>
                    </div>
                    <audio controls>
                        <source src="{{ content }}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>

                </div>
                <aside class="col-sm-4 detail-sidebar">
                    <div class="sidebar text-center w-100">
                        <h2>Recommendation Bubbles</h2>
                        <div class="bubbleChart"></div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
    <script src="/static/js/bubbles.js"></script>
{% endblock %}