{% extends "base.html" %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" align="center">
                <img class="d-block w-100" src="/static/image/carousel4.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 style="color:#F0F8FF;">Grainger Museum Folk Song Platform</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" align="center">
                <img class="d-block w-100" src="/static/image/carousel2.jpg" alt="Second slide" width="100%">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Grainger Museum Folk Song Platform</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" align="center">
                <img class="d-block w-100" src="/static/image/carousel3_2.jpg" alt="Second slide" width="100%">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 style="color:#F0F8FF;">Grainger Museum Folk Song Platform</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" align="center">
                <img class="d-block w-100" src="/static/image/carousel1.jpg" alt="Second slide" width="100%">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Grainger Museum Folk Song Platform</h1>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container mt-5">
        <h3 class="quote">‘…What I Have Now Got Are Precious Above Price'</h3>
        <p class="blockquote-footer mb-sm-5">Percy Grainger<cite title="Source Title"> , 1906</cite></p>
        <div class="row">
            <div class="col-sm-3">
                <a class="pop">
                    <img src="/static/image/portrait2.jpg" class="w-100">
                    <p class="text-muted text-center caption">Percy Grainger and Alfred J. Knocks in New Zealand,
                        1924</p>
                </a>
                <a class="pop">
                    <img class="w-100 pop" src="/static/image/portrait3.jpg">
                    <p class="text-muted text-center caption">Danish Folk Singers, Grainger Museum Collection</p>
                </a>
                <a class="pop">
                    <img class="w-100 pop" src="/static/image/portrait4.jpg">
                    <p class="text-muted text-center caption">Percy Grainger in the field collecting folk song, holding
                        wax cylinders, c.1906. Grainger Museum Collection</p>
                </a>
                <a class="pop">
                    <img class="w-100 pop" src="/static/image/portrait5.jpg">
                    <p class="text-muted text-center caption">Flyer for New Gramophone Records of English Traditional
                        Folk-Songs sung by Joseph Taylor, c. 1908. Grainger Museum Collection</p>
                </a>
            </div>
            <div class="col-sm-9 centering">
                <div>
                    <p>Percy Grainger (1882-1961) was a pioneer of ethnomusicology, undertaking highly
                        significant and unique work in an emerging field of research into folk song
                        from around the world. He collected and transcribed English and Danish folk song,
                        and transcribed some of the earliest wax cylinder and disc recordings of Australian
                        Aboriginal, Polynesian and Indonesian music. Grainger was also a pioneer in new technology,
                        using a phonograph in the field to record folk songs directly onto wax cylinders.</p>
                    <br>
                    <p>
                        Grainger contributed to the development of ethnomusicology through his detailing of the singers’
                        personalities, society and heritage along with the music and lyrics. He arranged numerous folk
                        melodies for a wide range of musical resources, including the well-known Country gardens,
                        based on a Morris dance tune. Grainger studied the musical structure and dialect of the
                        songs he recorded and faithfully observed the personalities, society and heritage of his
                        singers. Grainger was part of a small community of folk song enthusiasts,both in Britain
                        and further afield. He sought out other folk song collectors including Evald Tang
                        Kristensen in Denmark and Alfred J.Knocks in New Zealand. He effectively bridged the gap
                        between the strict musicological approach of most European folk music scholars, and the
                        anthropological orientation of the contemporary American ethno-musicologists.
                    </p>
                    <br>
                    <p>
                        Grainger’s English Folk Song Collection which represents his initial practical experience in
                        folk music
                        During a total of fifty-two days scattered between April 1905 and August 1909, this indomitable
                        Australian collected 435 English folk songs. The collection includes 216 wax cylinders,
                        a set of extremely rare discs issued by the then Gramophone Company and the original pad and
                        pencil
                        notings and cylinder transcriptions of all but sixty-four of the songs collected on
                        cylinder.</p>

                    <br>
                    <p>
                        The most obvious quality of Grainger’s collecting is his enthusiasm. He wrote to a friend during
                        the
                        second of his one week ‘hunts’ in Lincolnshire in 1906:
                    </p>
                    <p class="ml-5">. . . this ‘hunt’ is heavy work. The whole day and evening is busy writing
                        songs down and after that one has to work for hours to get things in order and to write
                        the many letters that go with the hunt. But the results are splendid. Twice as many and
                        as good as last year. I have got eight songs which I would give almost anything for in
                        order to save them from getting forgotten. </p>
                    <p>Three days later he wrote:</p>
                    <p class="ml-5">Today I have been a great deal on the cycle, about 50 miles,
                        and have obtained a mass of songs. I have collected the most lovely things since I last wrote;
                        all together about 120-150 songs. It has been hard work and has been on the whole pretty
                        tedious,
                        although what I have now got are precious above price.</p>
                </div>
            </div>
        </div>


    </div>

    <hr class="featurette-divider">
    <div class="container marketing" id="marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src="/static/image/filter.svg" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/image/map.svg" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                    mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/image/scope.svg" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Creeping Jane published score</h2>
                <span class="text-muted">1910 (Creation)</span>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.</p>
            </div>
            <div class="col-md-5">
                <a href="/collection/detail/creeping-jane/"><img class="featurette-image img-fluid mx-auto"
                                                                 src="/static/image/marketing1.jpg"
                                                                 alt="Generic placeholder image"></a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span
                        class="text-muted">See for yourself.</span></h2>
                <hr>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
                     alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
                     alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- modal dialog -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
                                                                                aria-label="hidden"></i></button>
                    <img src="" class="imagepreview" style="width: 100%;">
                    <p class="text-center">
                        <small class="imagecaption"></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('.pop').on('click', function () {
                var caption = $(this).find("p")[0].innerHTML;
                $('.imagepreview').attr('src', $(this).find("img").attr('src'));
                $('.imagecaption').html(caption);
                $('#imagemodal').modal('show');
            });
        });
    </script>

{% endblock %}