{% extends "base.html" %}
{% block head %}
    <link href="/static/css/map.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="embed-responsive embed-responsive-16by9">
        <div id="map" class="embed-responsive-item"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/map.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6P2_1D2icS2qhqQfKOlQ9S1wf89wNjb8&callback=initMap">
    </script>
{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
